.guest-layout {
   
    .title {
        font-size: 1.3em;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
    }

    .confirm-button {
        margin-bottom: 10px;
    }
    .link {
        text-align: center;
    }
}